body{ padding:10px }
.f8 {font-size:8px !important;}
.f9 {font-size:9px !important;}
.f10 {font-size:10px !important;}
.f11 {font-size:11px !important;}
.f12 {font-size:12px !important;}
.dataTable.compact th, .dataTable.compact td { padding-top: 6px; padding-bottom: 6px;}

.pagination, .dataTables_info, .dataTables_length, .dataTables_filter, .dataTables_wrapper input,
.dataTables_wrapper select, .dataTables_wrapper .btn {font-size:10px;}

#pills-tab .nav-link { padding-top:2px; padding-bottom:2px}
.dataTables_wrapper select {padding-top:2px; padding-bottom:2px; height: 20px !important}

.dataTables_filter, .dataTables_length {display:inline-block}
.dt-buttons{ margin-left:20px; margin-right:20px}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{justify-content: start; !important}

.gauge_central_label{
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -55%);
    font-size:9px;
}

.gauge_central_label2{
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -25%);
    font-size:9px;
}

.gauge_cell{
    text-align:center;
}

.gauge_cell > canvas{
    width: 350px;
    height: 150px;
}
